<div class="container">
    <mat-dialog-content>

        <!-- if an involvement doesn't exist -->
        <ng-template #show>
            <h3>Members are not found</h3>
        </ng-template>
        <h2>Add Members to {{data.activity.className}}</h2>

        <!-- display participating members -->
        <h1>Activity Involvement Form</h1>
        <h3>
            Activity Name: {{data.activity.className}}
            <br />
            ID: {{ data.activity.id }}
        </h3>
        <div *ngIf="involvement; else show">

            <div class="col-12">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col" class="text-center">Activity-Involvement-ID</th>
                                <th scope="col" class="text-center">Activity-ID</th>
                                <th scope="col" class="text-center">Member-IDs</th>
                            </tr>
                        </thead>
                        <tbody>
                            <td>
                                {{ involvement.id }}
                            </td>
                            <td>
                                {{ involvement.activityID }}
                            </td>
                            <td>
                                <tr *ngFor="let x of forPrinting">
                                    
                                        
                                    {{ x }}
                                    
 
                                </tr>
                            </td>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <!-- display members to add to activity -->
        <div class="col-12">
            <div class="table-responsive">
                <table class="table table-striped table-bordered table-hover">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col" class="text-center">Members</th>
                            <th scope="col" class="text-center">Register</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let member of members">
                            <td>{{member.firstName}} {{member.lastName}}</td>
                            <td>

                                <button type="button" class="btn btn-success"
                                    (click)="updateInvolvement(involvement, member.id)">Add Member</button>&nbsp;
                                <button type="button" class="btn btn-danger"
                                    (click)="updateInvolvement(involvement, member.id)">Remove Member</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </mat-dialog-content>
</div>