<h1 id="menuTitle">Volunteers</h1>
<div class="text-center">
    <div class="btn-group btn-group-lg" role="group" aria-label="...">
        <button type="button" class="btn btn-success btn-lg mr-1 ml-1" (click)="openDialog()">Add Volunteer</button>
    </div>
</div>
<br />
<div class="col-12">
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover">
            <thead class="thead-dark">
                <tr>
                    <th scope="col" class="text-center">First Name</th>
                    <th scope="col" class="text-center">Last Name</th>
                    <th scope="col" class="text-center">Address</th>
                    <th scope="col" class="text-center">Apt</th>
                    <th scope="col" class="text-center">City</th>
                    <th scope="col" class="text-center">State</th>
                    <th scope="col" class="text-center">Zip</th>
                    <th scope="col" class="text-center">DOB</th>
                    <th scope="col" class="text-center">Phone</th>
                    <th scope="col" class="text-center">Email</th>
                    <th scope="col" class="text-center">ID</th>
                    <th scope="col" class="text-center">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let volunteer of volunteers">
                    <td>{{volunteer.firstName}}</td>
                    <td>{{volunteer.lastName}}</td>
                    <td>{{volunteer.address}}</td>
                    <td>{{volunteer.apt}}</td>
                    <td>{{volunteer.city}}</td>
                    <td>{{volunteer.state}}</td>
                    <td>{{volunteer.zip}}</td>
                    <td>{{volunteer.dob}}</td>
                    <td>{{volunteer.phone}}</td>
                    <td>{{volunteer.email}}</td>
                    <td>{{volunteer.id}}</td>
                    <td>
                        <button type="button" class="btn btn-warning"
                            (click)="openUpdateDialog(volunteer.id)">Update</button>
                        &nbsp;
                        <button type="button" class="btn btn-danger"
                            (click)="deleteVolunteer(volunteer.id)">Delete</button>

                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>