<h1 id="menuTitle">Activities</h1>
<div class="text-center">
    <div class="btn-group btn-group-lg" role="group" aria-label="...">
        <button type="button" class="btn btn-success btn-lg mr-1 ml-1" (click)="addActivity()">Add Activity</button>
    </div>

</div>
<br />
<div class="col-12">
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover">
            <thead class="thead-dark">
                <tr>
                    <th scope="col" class="text-center">Activity Name</th>
                    <th scope="col" class="text-center">Time</th>
                    <th scope="col" class="text-center">Days</th>
                    <th scope="col" class="text-center">Location</th>
                    <th scope="col" class="text-center">ID</th>
                    <th scope="col" class="text-center">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let activity of activities">
                    <td>{{activity.className}}</td>
                    <td>{{activity.time}}</td>
                    <td>{{activity.days}}</td>
                    <td>{{activity.location}}</td>
                    <td>{{activity.id}}</td>
                    <td>
                        <button type="button" class="btn btn-success" (click)="manageMember(activity.id)">Manage
                            Members</button>
                        &nbsp;
                        <button type="button" class="btn btn-danger"
                            (click)="deleteActivity(activity.id)">Delete</button>
                        &nbsp;
                        <button type="button" class="btn btn-warning"
                            (click)="openUpdateDialog(activity.id)">Update</button>

                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>