language: node_js
node_js:
  - "9"
dist: trusty
sudo: required
addons:
  chrome: stable
  apt:
    packages:
      - chromium-chromedriver
      

before_script:

  - cd client-app
  - ln --symbolic /usr/lib/chromium-browser/chromedriver "${HOME}/bin/chromedriver"
  - google-chrome-stable --headless --disable-gpu --remote-debugging-port=9222 http://localhost &
  - npm install -g @angular/cli
  - npm install -g @angular-devkit/build-angular
  - npm install -g @angular/compiler-cli
  - npm install -g @angular/compiler
  - npm install -g typescript
  
script:
- npm install
- npm install @angular/platform-browser
- npm install @angular/material
- npm install rxjs-compat
- npm link

- npm install selenium-side-runner
- ng build --prod --base-href https://github.com/Rusty89/SeniorCenterManagmentStudio/tree/develop/client-app
- ng test --no-watch --code-coverage --browsers=ChromeHeadless
- selenium-side-runner --browsers=ChromeHeadless ../NavTest.side
- selenium-side-runner --browsers=ChromeHeadless ../AddRemoveMemberTest.side
- selenium-side-runner --browsers=ChromeHeadless ../NavTestLocal.side
