/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";



html, body {
	height: 90%;
	background: #f5f5f5;
}
#menuTitle {
	text-align: center;
	font-family:Arial;
	font-size:4vw;
}
.buttonContainer {
	position: relative;
	text-align: center;
	font-size:5vw;
}

.buttonSmall {
	position: relative;
	box-shadow: 0px 0px 0px 2px #9fb4f2;
	background:linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
	background-color:#7892c2;
	border-radius:100px;
	border:1px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20%;
	padding:20px 37px;
	text-decoration:none;
	text-shadow:0px 1px 0px #283966;
	width: 10%;
	height: auto;
	margin: 10px;
	
}

.buttonBig {
	position: relative;
	box-shadow: 0px 0px 0px 2px #9fb4f2;
	background:linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
	background-color:#7892c2;
	border-radius:100px;
	border:1px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:75%;
	padding:20px 37px;
	text-decoration:none;
	text-shadow:0px 1px 0px #283966;
	width: 60%;
	height: auto;
	margin: 10px;
	
}

.button:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #476e9e), color-stop(1, #7892c2));
	background:-moz-linear-gradient(top, #476e9e 5%, #7892c2 100%);
	background:-webkit-linear-gradient(top, #476e9e 5%, #7892c2 100%);
	background:-o-linear-gradient(top, #476e9e 5%, #7892c2 100%);
	background:-ms-linear-gradient(top, #476e9e 5%, #7892c2 100%);
	background:linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#476e9e', endColorstr='#7892c2',GradientType=0);
	background-color:#476e9e;
}
.button:active {
	position:relative;
	top:1px;
}

a:link {
  color: white; 
  background-color: transparent; 
  text-decoration: none;
}

a:visited {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:active {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

