<div class="container">
  <h1>Volunteer Information Form</h1>
  <form>
    <div class="form-group">
      <label for="firstName">First Name</label>
      <input type="text" class="form-control" id="firstName" aria-describedby="firstName" placeholder="John" name="firstName">

      <label for="lastName">Last Name</label>
      <input type="text" class="form-control" id="lastName" aria-describedby="lastName" placeholder="Smith" name="lastName">

      <div class="row">
        <div class="col-6">
          <label for="address">Address</label>
          <input type="textt" class="form-control" id="address" aria-describedby="address" placeholder="123 Main St."
            name="address">
        </div>
        <div class="col-6">
          <label for="apt">Apt #</label>
          <input type="text" class="form-control" id="apt" aria-describedby="apt" placeholder="Suite #05" name="apt">
        </div>
      </div>

      <div class="row">
        <div class="col-4">
          <label for="city">City</label>
          <input type="text" class="form-control" id="city" aria-describedby="city" placeholder="Belgrade" name="city">
        </div>
        <div class="col-4">
          <label for="state">State</label>
          <input type="text" class="form-control" id="state" aria-describedby="state" placeholder="MT" name="state">
        </div>
        <div class="col-4">
          <label for="zip">Zip Code</label>
          <input type="text" class="form-control" id="zip" aria-describedby="zip" placeholder="59714" name="zip">
        </div>
      </div>

      <label for="date">Date of Birth</label>
      <input type="date" class="form-control" id="month" aria-describedby="month" placeholder="January" name="month">

      <label for="phone">Phone</label>
      <input type="text" class="form-control" id="phone" aria-describedby="phone" placeholder="406-777-0123" name="phone">

      <label for="email">Email address</label>
      <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="example@AOL.com"
        name="email">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>

    </div>
    <button type="submit" class="btn btn-success" mat-dialog-close>Submit</button>
  </form>
</div>
