<h1 id="menuTitle">Members</h1>
<div class="text-center">
	<div class="btn-group btn-group-lg" role="group" aria-label="...">
		<button type="button" class="btn btn-success btn-lg mr-1 ml-1" (click)="openDialog()">Add</button>
		<button type="button" class="btn btn-primary btn-lg mr-1 ml-1">Update/Remove</button>
	</div>
</div>
<br />
<table class="table">
  <thead>
    <tr>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Address</th>
      <th scope="col">Apt</th>
      <th scope="col">City</th>
      <th scope="col">State</th>
      <th scope="col">Zip</th>
      <th scope="col">Month</th>
      <th scope="col">Phone</th>
      <th scope="col">Email</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
      <tr *ngFor="let member of members">
          <td>{{member.firstName}}</td>
          <td>{{member.lastName}}</td>
          <td>{{member.address}}</td>
          <td>{{member.apt}}</td>
          <td>{{member.city}}</td>
          <td>{{member.state}}</td>
          <td>{{member.zip}}</td>
          <td>{{member.month}}</td>
          <td>{{member.phone}}</td>
          <td>{{member.email}}</td>
          <td>
              <button type="button" class="btn btn-danger" (click)="deleteMember(member.email)">Delete</button>
          </td>
      </tr>      
  </tbody>
</table>


