<div style="text-align:center">
  <h1 id="menuTitle">{{title}}</h1>
</div>
<div class="text-center">
	<div class="btn-group btn-group-lg" role="group" aria-label="...">
		<button type="button" class="btn btn-secondary btn-lg mr-1 ml-1" routerLink="/members">Members</button>
    <button type="button" class="btn btn-secondary btn-lg mr-1 ml-1" routerLink="/volunteers">Volunteers</button>
		<button type="button" class="btn btn-secondary btn-lg mr-1 ml-1" routerLink="/services">Activities/Services</button>
		<button type="button" class="btn btn-secondary btn-lg mr-1 ml-1" routerLink="/reports">Reports</button>
		<button type="button" class="btn btn-secondary btn-lg mr-1 ml-1" routerLink="/documentation">Documentation</button>
	</div>
</div>


<router-outlet></router-outlet>



