<div class="container">
	<h1>Member Information Form</h1>
	<form>
		<div class="form-group">
			<label for="firstName">First Name</label>
			<input type="text" class="form-control" id="firstName" aria-describedby="firstName" placeholder="John" 
			[(ngModel)]="member.firstName" name="firstName">
			<br />
			<label for="lastName">Last Name</label>
			<input type="text" class="form-control" id="lastName" aria-describedby="lastName" placeholder="Smith"
			[(ngModel)]="member.lastName" name="lastName">
			<br />

			<div class="row">
				<div class="col-6">
					<label for="address">Address</label>
					<input type="textt" class="form-control" id="address" aria-describedby="address" placeholder="123 Main St." [(ngModel)]="member.address" name="address">
				</div>
				<div class="col-6">
					<label for="apt">Apt #</label>
					<input type="text" class="form-control" id="apt" aria-describedby="apt" placeholder="Suite #05"
					[(ngModel)]="member.apt" name="apt">
				</div>
			</div>
			<br />
			<div class="row">
				<div class="col-4">
					<label for="city">City</label>
					<input type="text" class="form-control" id="city" aria-describedby="city" placeholder="Belgrade" 
					[(ngModel)]="member.city" name="city">
				</div>
				<div class="col-4">
					<label for="state">State</label>
					<input type="text" class="form-control" id="state" aria-describedby="state" placeholder="MT" 
					[(ngModel)]="member.state" name="state">
				</div>
				<div class="col-4">
					<label for="zip">Zip Code</label>
					<input type="text" class="form-control" id="zip" aria-describedby="zip" placeholder="59714" 
					[(ngModel)]="member.zip" name="zip">
				</div>
			</div>
			<br />
			<label for="date">Date of Birth</label>
			<input type="date" class="form-control" id="month" aria-describedby="month" placeholder="January" 
			[(ngModel)]="member.month" name="month">
			<br />
			<label for="phone">Phone</label>
			<input type="text" class="form-control" id="phone" aria-describedby="phone" placeholder="406-777-0123" 
			[(ngModel)]="member.phone" name="phone">
			<br />
			<label for="email">Email address</label>
			<input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="example@AOL.com" [(ngModel)]="member.email" name="email">
			<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
			<br />
			<button type="submit" class="btn btn-success" (click)="saveMember()">Submit</button>
		</div>
	</form>
</div>
