<div class="container">


  <!-- Test if tmp: activity is null or not  -->
  <!-- This div will be displayed tmp is not null -->
  <div *ngIf="data; else show">
    <h1>Member Information Form</h1>
    <mat-dialog-content>
      <form>
        <div class="form-group">

          <div class="row">
            <div class="col-4">
              <label for="firstName">First Name</label>
              <input type="text" class="form-control" id="firstName" aria-describedby="firstName" placeholder="John"
                     [(ngModel)]="member.firstName" name="firstName">
            </div>
            <div class="col-4">
              <label for="lastName">Last Name</label>
              <input type="text" class="form-control" id="lastName" aria-describedby="lastName" placeholder="Smith"
                     [(ngModel)]="member.lastName" name="lastName">
            </div>
            <div class="col-4">
              <label for="date">Date of Birth</label>
              <input type="date" class="form-control" id="month" aria-describedby="month" placeholder="January"
                     [(ngModel)]="member.month" name="month">
            </div>
          </div>

          <div class="row">
            <div class="col-6">
              <label for="address">Address</label>
              <input type="textt" class="form-control" id="address" aria-describedby="address" placeholder="123 Main St." [(ngModel)]="member.address" name="address">
            </div>
            <div class="col-6">
              <label for="apt">Apt #</label>
              <input type="text" class="form-control" id="apt" aria-describedby="apt" placeholder="Suite #05"
                     [(ngModel)]="member.apt" name="apt">
            </div>
          </div>

          <div class="row">
            <div class="col-4">
              <label for="city">City</label>
              <input type="text" class="form-control" id="city" aria-describedby="city" placeholder="Belgrade"
                     [(ngModel)]="member.city" name="city">
            </div>
            <div class="col-4">
              <label for="state">State</label>
              <input type="text" class="form-control" id="state" aria-describedby="state" placeholder="MT"
                     [(ngModel)]="member.state" name="state">
            </div>
            <div class="col-4">
              <label for="zip">Zip Code</label>
              <input type="text" class="form-control" id="zip" aria-describedby="zip" placeholder="59714"
                     [(ngModel)]="member.zip" name="zip">
            </div>
          </div>

          <div class="row">
            <div class="col-6">
              <label for="phone">Phone</label>
              <input type="text" class="form-control" id="phone" aria-describedby="phone" placeholder="406-777-0123"
                     [(ngModel)]="member.phone" name="phone">
            </div>
            <div class="col-6">
              <label for="email">Email address</label>
              <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="example@AOL.com"
                     [(ngModel)]="member.email" name="email">
              <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
          </div>

          <div class="row">
            <div class="col-4">
              <label for="emergencyFirstName">Emergency Contact First Name</label>
              <input type="text" class="form-control" id="emergencyFirstName" aria-describedby="firstName" placeholder="John"
                     name="emergencyFirstName">
            </div>
            <div class="col-4">
              <label for="emergencyLastName">Emergency Contact Last Name</label>
              <input type="text" class="form-control" id="emergencyLastName" aria-describedby="lastName" placeholder="Smith"
                     name="emergencyLastName">
            </div>
            <div class="col-4">
              <label for="emergencyRelation">Contact Relationship</label>
              <input type="text" class="form-control" id="emergencyRelation" aria-describedby="emergencyRelation" placeholder="Spouse"
                     name="emergencyRelation">
            </div>
          </div>

          <div class="row">
            <div class="col-6">
              <label for="emergencyPhone">Emergency Contact Phone</label>
              <input type="text" class="form-control" id="emergencyPhone" aria-describedby="emergencyPhone" placeholder="406-777-0123"
                     name="emergencyPhone">
            </div>
            <div class="col-6">
              <label for="emergencyEmail">Emergency Contact Email address</label>
              <input type="email" class="form-control" id="emergencyEmail" aria-describedby="emailHelp" placeholder="example@AOL.com"
                     name="emergencyEmail">
              <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
          </div>

          <div class="row">
            <div class="col-4">
              <label for="DoctorFirstName">Doctor's First Name</label>
              <input type="text" class="form-control" id="doctorFirstName" aria-describedby="firstName" placeholder="John"
                     name="doctorFirstName">
            </div>
            <div class="col-4">
              <label for="doctorLastName">Doctor's Last Name</label>
              <input type="text" class="form-control" id="doctorLastName" aria-describedby="lastName" placeholder="Smith"
                     name="doctorLastName">
            </div>
            <div class="col-4">
              <label for="doctorOffice">Doctor's Office Name</label>
              <input type="text" class="form-control" id="doctorOffice" aria-describedby="officeName" placeholder="Community Health Partners"
                     name="doctorOffice">
            </div>
          </div>

          <div class="row">
            <div class="col-6">
              <label for="doctorPhone">Doctor's Phone</label>
              <input type="text" class="form-control" id="doctorPhone" aria-describedby="doctorPhone" placeholder="406-777-0123"
                     name="doctorPhone">
            </div>
            <div class="col-6">
              <label for="doctorEmail">Doctor's Email address</label>
              <input type="email" class="form-control" id="doctorEmail" aria-describedby="emailHelp" placeholder="example@AOL.com"
                     name="doctorEmail">
            </div>
          </div>


          <input type="checkbox" [checked]="record.status" (change)="changeStatus(record.id,$event)">Member is a veteran<br>
          <input type="checkbox">Member is disabled<br>
          <input type="checkbox">Member receives services under the National Family Caregiver Support Program?<br>
          <input type="checkbox">Member requires special assistance? (Activities of Daily Living/Instrumental Activities of Daily Living)<br>
          <input type="checkbox">Member uses Meals-On-Wheels?<br>

        </div>
        <button type="submit" class="btn btn-success" (click)="saveMember()" mat-dialog-close>Submit</button>
      </form>
    </mat-dialog-content>
  </div>

  <ng-template #show>
    <h1>Member Information Form</h1>
    <mat-dialog-content>
      <form>
        <div class="form-group">

          <div class="row">
            <div class="col-4">
              <label for="firstName">First Name</label>
              <input type="text" class="form-control" id="firstName" aria-describedby="firstName" placeholder="John"
                     [(ngModel)]="member.firstName" name="firstName">
            </div>
            <div class="col-4">
              <label for="lastName">Last Name</label>
              <input type="text" class="form-control" id="lastName" aria-describedby="lastName" placeholder="Smith"
                     [(ngModel)]="member.lastName" name="lastName">
            </div>
            <div class="col-4">
              <label for="date">Date of Birth</label>
              <input type="date" class="form-control" id="month" aria-describedby="month" placeholder="January"
                     [(ngModel)]="member.month" name="month">
            </div>
          </div>

          <div class="row">
            <div class="col-6">
              <label for="address">Address</label>
              <input type="textt" class="form-control" id="address" aria-describedby="address" placeholder="123 Main St." [(ngModel)]="member.address" name="address">
            </div>
            <div class="col-6">
              <label for="apt">Apt #</label>
              <input type="text" class="form-control" id="apt" aria-describedby="apt" placeholder="Suite #05"
                     [(ngModel)]="member.apt" name="apt">
            </div>
          </div>

          <div class="row">
            <div class="col-4">
              <label for="city">City</label>
              <input type="text" class="form-control" id="city" aria-describedby="city" placeholder="Belgrade"
                     [(ngModel)]="member.city" name="city">
            </div>
            <div class="col-4">
              <label for="state">State</label>
              <input type="text" class="form-control" id="state" aria-describedby="state" placeholder="MT"
                     [(ngModel)]="member.state" name="state">
            </div>
            <div class="col-4">
              <label for="zip">Zip Code</label>
              <input type="text" class="form-control" id="zip" aria-describedby="zip" placeholder="59714"
                     [(ngModel)]="member.zip" name="zip">
            </div>
          </div>

          <div class="row">
            <div class="col-6">
              <label for="phone">Phone</label>
              <input type="text" class="form-control" id="phone" aria-describedby="phone" placeholder="406-777-0123"
                     [(ngModel)]="member.phone" name="phone">
            </div>
            <div class="col-6">
              <label for="email">Email address</label>
              <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="example@AOL.com"
                     [(ngModel)]="member.email" name="email">
              <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
          </div>

          <div class="row">
            <div class="col-4">
              <label for="emergencyFirstName">Emergency Contact First Name</label>
              <input type="text" class="form-control" id="emergencyFirstName" aria-describedby="firstName" placeholder="John"
                     name="emergencyFirstName">
            </div>
            <div class="col-4">
              <label for="emergencyLastName">Emergency Contact Last Name</label>
              <input type="text" class="form-control" id="emergencyLastName" aria-describedby="lastName" placeholder="Smith"
                     name="emergencyLastName">
            </div>
            <div class="col-4">
              <label for="emergencyRelation">Contact Relationship</label>
              <input type="text" class="form-control" id="emergencyRelation" aria-describedby="emergencyRelation" placeholder="Spouse"
                     name="emergencyRelation">
            </div>
          </div>

          <div class="row">
            <div class="col-6">
              <label for="emergencyPhone">Emergency Contact Phone</label>
              <input type="text" class="form-control" id="emergencyPhone" aria-describedby="emergencyPhone" placeholder="406-777-0123"
                     name="emergencyPhone">
            </div>
            <div class="col-6">
              <label for="emergencyEmail">Emergency Contact Email address</label>
              <input type="email" class="form-control" id="emergencyEmail" aria-describedby="emailHelp" placeholder="example@AOL.com"
                     name="emergencyEmail">
              <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
          </div>

          <div class="row">
            <div class="col-4">
              <label for="DoctorFirstName">Doctor's First Name</label>
              <input type="text" class="form-control" id="doctorFirstName" aria-describedby="firstName" placeholder="John"
                     name="doctorFirstName">
            </div>
            <div class="col-4">
              <label for="doctorLastName">Doctor's Last Name</label>
              <input type="text" class="form-control" id="doctorLastName" aria-describedby="lastName" placeholder="Smith"
                     name="doctorLastName">
            </div>
            <div class="col-4">
              <label for="doctorOffice">Doctor's Office Name</label>
              <input type="text" class="form-control" id="doctorOffice" aria-describedby="officeName" placeholder="Community Health Partners"
                     name="doctorOffice">
            </div>
          </div>

          <div class="row">
            <div class="col-6">
              <label for="doctorPhone">Doctor's Phone</label>
              <input type="text" class="form-control" id="doctorPhone" aria-describedby="doctorPhone" placeholder="406-777-0123"
                     name="doctorPhone">
            </div>
            <div class="col-6">
              <label for="doctorEmail">Doctor's Email address</label>
              <input type="email" class="form-control" id="doctorEmail" aria-describedby="emailHelp" placeholder="example@AOL.com"
                     name="doctorEmail">
            </div>
          </div>


          <input type="checkbox" [checked]="record.status" (change)="changeStatus(record.id,$event)">Member is a veteran<br>
          <input type="checkbox">Member is disabled<br>
          <input type="checkbox">Member receives services under the National Family Caregiver Support Program?<br>
          <input type="checkbox">Member requires special assistance? (Activities of Daily Living/Instrumental Activities of Daily Living)<br>
          <input type="checkbox">Member uses Meals-On-Wheels?<br>

        </div>
        <button type="submit" class="btn btn-success" (click)="saveMember()" mat-dialog-close>Submit</button>
      </form>
    </mat-dialog-content>
  </ng-template>


</div>
