<div class="container">


  <!-- Test is tmp: activity is null or not  -->
  <!-- This div will be displayed tmp is not null -->
  <div *ngIf="data; else show">
      <h1>Activity Information Form</h1>
      <form>
          <div class="form-group">
            <label for="className">Activity Name</label>
            <input type="text" class="form-control" id="className" aria-describedby="className" placeholder="Hot Yoga" [(ngModel)]="data.activity.className" name="className">
            <br />
      
            <div class="row">
              <div class="col-6">
                <label for="time">Time</label>
                <input type="text" class="form-control" id="time" aria-describedby="time" placeholder="12:00 pm - 1:00 pm" [(ngModel)]="data.activity.time" name="time">
              </div>
              <div class="col-6">
                <label for="days">Days</label>
                <input type="text" class="form-control" id="days" aria-describedby="days" placeholder="Tuesday" [(ngModel)]="data.activity.days" name="days">
              </div>
            </div>
            <br />
          <div class="row">
              <div class="col-4">
                <label for="location">Location</label>
                <input type="text" class="form-control" id="location" aria-describedby="location" placeholder="Location" [(ngModel)]="data.activity.location" name="location">
              </div>
            </div>
            <br />
            <button type="submit" class="btn btn-success" (click)="updateActivity(data.activity)" mat-dialog-close>Submit</button>
          </div>
        </form>
  </div>

  <!-- This div will be displayed if tmp is null -->
  <ng-template #show>
      <h1>Activity Information Form</h1>
      <form>
          <div class="form-group">
            <label for="className">Activity Name</label>
            <input type="text" class="form-control" id="className" aria-describedby="className" placeholder="Hot Yoga" [(ngModel)]="activity.className" name="className">
            <br />
      
            <div class="row">
              <div class="col-6">
                <label for="time">Time</label>
                <input type="text" class="form-control" id="time" aria-describedby="time" placeholder="12:00 pm - 1:00 pm" [(ngModel)]="activity.time" name="time">
              </div>
              <div class="col-6">
                <label for="days">Days</label>
                <input type="text" class="form-control" id="days" aria-describedby="days" placeholder="Tuesday" [(ngModel)]="activity.days" name="days">
              </div>
            </div>
            <br />

          <div class="row">
              <div class="col-4">
                <label for="location">Location</label>
                <input type="text" class="form-control" id="location" aria-describedby="location" placeholder="Location" [(ngModel)]="activity.location" name="location">
              </div>
            </div>
            <br />
            <button type="submit" class="btn btn-success" (click)="validateForm()">Submit</button>
          </div>
        </form>
  </ng-template>

</div>

